/* Customize your main colors in :root variables */
:root {
  --main-background-color: #00CED1;
  --card-background-color: #9932CC;
  --card-background-lighter-color: #7A7F92;
  --main-text-color:#FFFFFF;
  --title-text-color:#FF00FF;
}

body{
  background-color:var(--main-background-color);
  /*background: url("img/background.png");
  background-size: cover;*/

  font-family: 'Comic Sans MS';
  font-size: 1.3em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: bold;
}



